body {
    margin: 50px;
    text-align: center;
    background-color: darkblue;
}
h1 {
    text-align: center;
    color: red;
    letter-spacing: .1em;

    text-shadow:
            0 -1px 0 #fff,
            0 1px 0 #2e2e2e,
            0 2px 0 #2c2c2c,
            0 3px 0 #2a2a2a,
            0 4px 0 #282828,
            0 5px 0 #262626,
            0 6px 0 #242424,
            0 7px 0 #222,
            0 8px 0 #202020,
            0 9px 0 #1e1e1e,
            0 10px 0 #1c1c1c,
            0 11px 0 #1a1a1a,
            0 12px 0 #181818,
            0 13px 0 #161616,
            0 14px 0 #141414,
            0 15px 0 #121212,
            0 22px 30px rgba(0, 0, 0, 0.9);
}
#number-question {
    background-color: #ffffff;
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
    padding: 5px 10px;
}
#question {
    margin-bottom:20px;
    color: #FFFFFF;
    border-radius: 4em 0 4em 0;
    -moz-border-radius: 4em 0 4em 0;
    -webkit-border-radius: 4em 0 4em 0;
    border: 0 solid #000000;
    line-height: 100px;
    height:100px;
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color:green;
    text-transform: capitalize;
}
#each-question {
    max-width:800px;
    margin: 0 auto;
}
.box {
    background-color : #3498db;
    color: white;
    border-radius: 2em 2em;
    line-height: 50px;
    height:50px;
    width:100%;
    font-weight:bold;
}
td {
    padding: 2px 2px;
    width: 400px;
}

.box:hover {
    background-color: #2980b9;
}
img{
    width: 500px;
    margin-left: -20px;
}
#point{
    float: left;
    width: 60px;
    height: 30px;
    background-color: #3498db;
}
button{
    border-radius: 5px;
    background-color : orange;
    color: white;
    height:40px;
    width:100px;
    font-weight:bold;
    text-align: center;
    margin-top: 50px ;
}
#stop-game{
    float: right;

}
#play-again{
    float: right;
    margin-right: 20px;
}
.char{
    float: left;
    color: #3498db;
    font-size: 30px;
    line-height: 45px;
    margin-left: 2px;
    margin-top: 2px;
    background-color:#FFFFFF;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
#rewarding{
    float: right;
    height: 500px;
    width: 200px;
    overflow: auto;
}
#container{
    position: absolute;
    width: 800px;
    height: 100%;
    margin-left: 100px;

}
#table{
    height: 499px;
}
.step-reward{
    background-color: #3498db;
    color: white;
}
.step-reward1{
    height: 31px;
    line-height: 30px;
}
.char1{
    float: left;
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 2px;
    margin-top: 2px;
}
/*#continue-game{*/
/*    width: 100px;*/
/*}*/
#btn-function{
    width: 800px;
    height: 90px;
}
#make-sure {
    float: left;
    overflow: auto;
}
#left{
    float: left;
}

